/*  */
.col-900 {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 8%;
}
.header .top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 55px;
}

.header .logo {
  margin: 0;
  font-family: Azonix;
}

.header .description {
  max-width: 400px;
  margin-top: 70px;
  font-size: 21px;
  color: #000;
  line-height: 40px;
  text-align: justify;
}

.header .heading.animate {
  box-shadow: inset 0 -10px 0 #fff, inset 0 -25px 0 #ff0059;
}
.header .heading {
  font-weight: 900;
  font-size: 55px;
  color: #000;
  box-shadow: inset -650px -10px 0 #fff, inset 0 -25px 0 #ff0059;
  transition: all 1s cubic-bezier(0.36, 0, 0, 0.99);
}

.header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  padding-bottom: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
}

.experience {
  background: #191a1d;
}

body {
  font-family: Timeless, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Azonix;
  src: url("./fonts/Azonix.otf");
}

@font-face {
  font-family: Timeless;
  src: url("./fonts/Timeless.ttf");
}
